* {
  margin: 0px;
  /*background-color: rgb(155, 167, 179);*/
  font-family: 'Mirza', cursive;
}

div.header-content {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 279px;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-radial-gradient(closest-side, rgba(0,0,0,0) 98%, rgba(0,0,0,0.298039) 99%), -webkit-radial-gradient(closest-side, rgba(0,0,0,0) 98%, rgba(0,0,0,0.298039) 99%), rgb(221, 238, 255);
  background: -moz-radial-gradient(closest-side, rgba(0,0,0,0) 98%, rgba(0,0,0,0.298039) 99%), -moz-radial-gradient(closest-side, rgba(0,0,0,0) 98%, rgba(0,0,0,0.298039) 99%), rgb(221, 238, 255);
  background: radial-gradient(closest-side, rgba(0,0,0,0) 98%, rgba(0,0,0,0.298039) 99%), radial-gradient(closest-side, rgba(0,0,0,0) 98%, rgba(0,0,0,0.298039) 99%), rgb(221, 238, 255);
  background-position: 0 0, 40px 40px;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 80px 80px;
  background-size: 80px 80px;
  position: relative;
  text-align: center;
}

.main-title {
  padding-top: 30px;
  background: transparent;
  font-size: 4em;
  color: #000;
}
.sub-title {
  background: transparent;
  font-size: 2.5em;
  color: #000;
}

.main {
  margin: 2em;
}

.content {
  width: 100%;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

figure {
  margin: 2em;
}

img {
  max-width: 100%;
}

article {
  display: block;
  margin: 0 auto;
  max-width: 50em;
}

.main-img, .main-contact {
    display: none;
}

p.text {
  text-align: justify;
  font-size: 16px;
  line-height: 1.2em;
}

.works-title {
  margin-top: 1em;
}

.content1, .content2, .content3 {
  width: 100%;
}

.work {
  margin-top: 1em;
}

/*.foot {
  display: flex;
  flex-wrap: wrap;
}*/

footer {
  width: 100%;
  background-color: blue;
}


/*
#
# media queries
#
*/

@media screen and (min-width: 465px) {
  .main-img {
    display: inline;
    margin-top: 1em;
  }

  .content1, .content2, .content3 {
    width: 100%;
    height: 150px;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .work1-img, .work2-img, .work3-img {
    width: 40%;
    max-height: 130px;
    margin-right: 20px;
  }
}


@media screen and (min-width: 650px) {
  .main-img {
    display: inline;
    margin-top: 1em;
  }

  .main-text, .main-contact {
    float: left;
    width: calc((100% - 20px)/2);
    margin-right: 20px;
  }

  .main-contact {
    display: inline;
    margin-right: 0px;
  }

  .content {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .content1, .content2, .content3 {
    width: calc((100% - 20px)/3);
    margin-right: 20px;
    display: inline;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .content3 {
    margin-right: 0px;
  }

  .work {
    width: 100%;
  }
}

/*
#
# zocial
#
*/

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

div#contacts a {
  margin: 0 1em 0 0;
}

div#contacts a:last-of-type {
  margin: 0;
}

div#contacts {
  line-height: 1.8em;
}