body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  font-family: 'Mirza', cursive;
}
html, body {
  height: 100%;
}

header {
  width: 100%;
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  text-align: center;
}

.table-header {
  max-width: 60em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table-header tr {
  text-align: center;
}

.td1 {
  width: 70%;
}

.td2 {
  width: 30%
}

.title {
  padding-bottom: 30px;
}

.logo-img {
  width: 50%;
  height: 50%;
}

.main-title {
  width: 100%;
  background: transparent;
  font-size: 5vmax;
  color: #7d97ad;
  margin: 0px;
}
.sub-title {
  background: transparent;
  font-size: 2.5vmax;
  color: #7d97ad;
  margin: 0px;
}

main {
  flex: 1;
  margin: 2em;
}

article {
  margin: 0 auto;
  max-width: 60em;
}

.about-me {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.about-me p {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

h1 {
  margin: 0px;
  font-size: 20px;
  color: #02b3e4;
}

p {
  font-size: 16px;
  line-height: 1.25em;
}

.me, .contacts {
  width: 100%;
}

.me p {
  text-align: justify;
}

.main-img, .contacts {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  max-width: 60em;
  display: none;  
}

img {
  width: 100%;
}

.header-works {
  width: 100%;
}

.featured-works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.featured-works p {
  margin: 0px;
}

.work {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.work-txt {
  width: 100%;
  margin-top: 10px;
}

.work-img {
  width: 100%;
}

.work-img img {
  height: 180px;
}

.work-title {
  color: #2d3c49;
  font-size: 25px;
}

footer {
  width: 100%;
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  text-align: center;
}

footer h1 {
  color: white;
}

.table-contact {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*
#
# zocial
#
*/

[class*="zocial-"]:before {
  color: white;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

div#contacts a {
  margin: 0 1em 0 0;
}

div#contacts a:last-of-type {
  margin: 0;
}

div#contacts {
  line-height: 1.8em;
}

/*
#
# media queries
#
*/

@media screen and (min-width: 500px) {
  .work-img img {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .work-img {
    width: 100%;
    margin-right: 0px;
  }
  .work-txt {
    width: 100%;
  }
  .work {
    width: calc((100% - 20px)/3);
    margin-right: 10px;
  }
  .work3 {
    margin-right: 0px;
  }
  .main-img {
    display: block;
  }
  .me, .contacts {
    width: calc((100% - 20px)/2);
    margin-right: 20px;
  }
  .contacts {
    margin-right: 0px;
    display: inline;
  }
  .sub-contact {
    display: none;
  }
  [class*="zocial-"]:before {
    color: black;
    *text-shadow: 3px 3px 3px #aaa;
  }
  #contacts p {
    margin: 0px;
  }
  .work-img img {
  height: 190px;
  }
}

